<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>hu.standapp.investify.servlet.Hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apiauth</servlet-name>
        <servlet-class>hu.standapp.investify.servlet.ApiAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apimoneypool</servlet-name>
        <servlet-class>hu.standapp.investify.servlet.ApiMoneyPool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apirandomshareholdsforsale</servlet-name>
        <servlet-class>hu.standapp.investify.servlet.ApiRandomShareholdsForSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apiregistration</servlet-name>
        <servlet-class>hu.standapp.investify.servlet.ApiRegistration</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>apiauth</servlet-name>
        <url-pattern>/api/auth</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>apimoneypool</servlet-name>
        <url-pattern>/api/moneypool</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>apirandomshareholdsforsale</servlet-name>
        <url-pattern>/api/random-shareholds-for-sale</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>apiregistration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
</web-app>